extends layout

block content
  h1= title
  p Welcome to #{title}

  p
    a(href='/genres') List of genres
  p
    a(href='/authors') List of authors
  p
    a(href='/books') List of books
  p
    a(href='/bookinstances') List of book instances